echo "
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environments
*.env
.venv/
env/
venv/
fastapi_lab1_env/
mllabs/

# OS
.DS_Store

# Model artifacts
model/*.pkl
model/prediction_log.csv
" > .gitignore
